<% include ./partials/header.ejs %>
<div class="adregister flex justify-center items-center ">
    <div class="pr-[150px] min-h-screen">
        <div class="">
            <img class="w-[120px] h-[60px] " src="./images/Meta-logo.png" alt="logo1">
            <img class="w-[300px] h-[125px] pl-2" src="./images/logo.png" alt="logo2">
        </div>
        <div class=" pt-[50px]">
            <h1 class="meta_headline font-bold text-5xl">INSTAGRAM ADS MANAGER</h1>
            <h2 class="meta_tag font-semibold text-2xl text-white" >Grow Your Business With Meta Platforms</h2>
        </div>
    </div>

    <div >
        <form class="flex flex-col w-[380px] p-[4px] rounded-md bg-white" action="/adlogin" method="post">
            <h2 class="font-semibold text-2xl p-3" >Login Your Ad Account</h2>
    
            <input class="p-3 m-1 rounded-full border-2" type="text" name ="username" placeholder="Enter Your Username">
            <input class="p-3 m-1 rounded-full border-2" type="password" name ="password" placeholder="Enter Your Password">
            
            <input class="p-3 m-1 rounded-full bg-pink-400 font-bold text-white" type="submit" value="Login">
            <div class="pl-5 pt-2 pb-2">
                <span class="font-bold">Don't have an account ? <a href="/adregister" class="text-blue-500">Create</a></span>

            </div>
            
            
        </form>
        

    </div>
    

</div>



