<% include ./partials/header.ejs %>
<link rel="stylesheet" href="./stylesheets/createad.css">
<script src="./javascripts/createad.js"></script>

<div class="container1">

    

    <input type="radio" name="slider" id="create">
    <input type="radio" name="slider" id="live" checked>
    <input type="radio" name="slider" id="expired">
    <input type="radio" name="slider" id="leads">
    <input type="radio" name="slider" id="budget">
    <input type="radio" name="slider" id="help">
    <input type="radio" name="slider" id="settings">

    <nav class="bg-zinc-800 min-h-screen text-white">
        <div class="profile h-[80px] w-[100%] border border-[2px] flex items-center">
            <div class="pic h-[50px] w-[50px] border border-[2px] rounded-full ml-[10px] bg-green-500 flex items-center justify-center"><i class="fa-solid fa-plus"></i></div>
            <div class="ml-[6px]">
                <h1>Name</h1>
                <h2 class="text-zinc-400">Username</h2>
            </div>
        </div>
        <div class="w-[100%]">
            <label for="create" class="create border border-[2px] bg-blue-500 relative">

                <i class="fa-solid fa-plus absolute left-[15px] top-[16px]"></i>
                Create New Campaign
                
            </label>
            <label for="live" class="live border border-[2px] relative">

                <i class="fa fa-line-chart absolute left-[15px] top-[16px]"></i>
                Live Campaigns

            </label>
            <label for="expired" class="expired border border-[2px]">
                <i class="fa-solid fa-hourglass-end absolute left-[15px] top-[16px]"></i>
                Expired Campaigns
            </label>
            <label for="leads" class="leads border border-[2px]">
                <i class="fa-solid fa-user-check absolute left-[15px] top-[16px]"></i>
                Leads
            </label>
            <label for="budget" class="budget border border-[2px] border-b-[4px]">
                <i class="fa fa-calculator absolute left-[15px] top-[16px]" ></i>
                Budget
            </label>
            <label for="help" class="help border border-[2px] border-b-[4px]">
                <i class="fa-solid fa-headset absolute left-[15px] top-[16px]"></i>
                Help
            </label>

        </div>
        <div class="absolute bottom-0 w-[100%]">
            <label for="settings" class="settings border border-[3px] ">
                <i class="fa fa-cog absolute left-[15px] top-[16px]"></i>
                Settings
            </label>

        </div>
        

    </nav>

    <section class="min-h-screen">
        <div class="content content-1">
            <div class="title">Create New Campaign</div>
            <p>Welcome to home page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?</p2>
        </div>
        <div class="content content-2">
            <div class="title">Live Campaigns</div>
            <p>Welcome to blog page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?</p2>
        </div>
        <div class="content content-3">
            <div class="title">Expired Campaigns</div>
            <p>Welcome to code page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quasi consectetur asperiores velit deserunt qui natus repellendus sunt voluptates et!</p2>
        </div>
        <div class="content content-4">
            <div class="title">Leads</div>
            <p>Welcome to help page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eos tempora non accusamus totam facilis ea debitis molestias quisquam veniam! Corrupti quod repellendus asperiores aut facilis, id temporibus eius saepe molestias illo repudiandae. Quas fugiat ea explicabo vitae ipsa. Illo ipsum dolor consectetur, vero nobis optio a numquam, excepturi quis tempore impedit aspernatur incidunt quaerat qui, vel veritatis earum omnis.</p2>
        </div>
        <div class="content content-5">
            <div class="title">Budget</div>
            <p>Welcome to about page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae beatae cumque dolore, dolores sapiente distinctio hic maxime aliquam nemo cupiditate ex a nihil sed sequi ducimus modi, nulla exercitationem dignissimos quaerat eveniet alias! Dolore veritatis quisquam quasi enim id eligendi architecto eveniet tempora velit magni corrupti eos ab sed voluptas veniam, esse sapiente nam cupiditate quidem error laboriosam adipisci. Unde!Lorem</p2>

        </div>
        <div class="content content-6">
            <div class="title">Help</div>
            <p>Welcome to about page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae beatae cumque dolore, dolores sapiente distinctio hic maxime aliquam nemo cupiditate ex a nihil sed sequi ducimus modi, nulla exercitationem dignissimos quaerat eveniet alias! Dolore veritatis quisquam quasi enim id eligendi architecto eveniet tempora velit magni corrupti eos ab sed voluptas veniam, esse sapiente nam cupiditate quidem error laboriosam adipisci. Unde!Lorem</p2>

        </div>
        <div class="content content-7">
            <div class="title">Settings</div>
            <p>Welcome to about page</p>
            <p2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, deserunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae beatae cumque dolore, dolores sapiente distinctio hic maxime aliquam nemo cupiditate ex a nihil sed sequi ducimus modi, nulla exercitationem dignissimos quaerat eveniet alias! Dolore veritatis quisquam quasi enim id eligendi architecto eveniet tempora velit magni corrupti eos ab sed voluptas veniam, esse sapiente nam cupiditate quidem error laboriosam adipisci. Unde!Lorem</p2>

        </div>

    </section>


   </div>