<h1>Welcome To Meta Help Registration Page</h1>


<form action="/metahelpreg" method="post" class="flex">
    <input type="text" name="username" placeholder="Enter Your Username">
    <input type="text" name="fullname" placeholder="Enter Your Full Name">
    <input type="email" name="email" placeholder="Enter Your Email">
    <input type="number" name="phone" placeholder="Enter Your Phone Number">
    <input type="text" name="job_role" placeholder="Enter Your Job Role">
    <input type="number" name="employment_id" placeholder="Enter Your Employment ID Number">
    <input type="password" name="password" placeholder="Enter Your Password">
    <input type="submit" value="register">
</form>