<h1>Meta Help Login Page</h1>

<form action="/metahelplg" method="post">
    <input type="text" name="username" placeholder="Enter Your Username">
    <input type="password" name="password" placeholder="Enter Your Password">
    <input type="submit" value="Login">
</form>