<% include ./partials/header.ejs %>
<div class="min-h-screen w-full bg-black flex justify-center">
    <a href="/profile" class="text-white absolute left-4 top-4 font-bold"><i class="ri-arrow-left-s-line"></i> Back </a>
    <div class="h-[100%] w-[100%] bg-white mt-[150px]">
        
        <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profileImage %>" alt="img">
    </div>



</div>